
/* *********************************************************************************************************************************** */
/* *********************************************************************************************************************************** */

/* variables defined at root of page */
:root {

    --primary-color: #F1FCF4;
    --secondary-color: #FBB480;

    --primary-text-color:black;
    --secondary-text-color:white;

    /* default + additional = secondary */
    --default-padding: 3rem;
    --additional-padding: 7rem;
    --secondary-padding: 10rem;
    
    --default-border-radius: 20px;
  
}

/* Body styles */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

/* Company name style same throught page {logo}*/
.company-name{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 3.5rem;
    font-weight:900;
    color: #1B3B32;
}


/* Headings and paragraphs */

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

h1{
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.5;
}

h2{
    font-size: 2.5rem;
    font-weight:600;
    line-height: 1.4;
}

h3{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
}

p{
    font-size: 1rem;
    font-weight: 400;
}

/* *********************************************************************************************************************************** */


/* Nav bar */

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #73FAD5;
    padding: 20px var(--default-padding);
}

#nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    list-style: none;
    font-size: 1.3rem;
    width: 600px;
}

/* navbar links */
#nav ul a{
    text-decoration: none;
    font-weight: 400;
    color: #1B3B32;
}

#nav ul a:hover{
    transform: translateY(-10%);
}

/* Navbar login button */
#nav ul button{
    border-style: none;
    border-radius: 0%;
    background: #fff;
    width: 100px;
    height: 50px;
    font-weight: 400;
    font-size: 1.3rem;

    box-shadow: 1px 0px 3px gainsboro;
    border-radius: var(--default-border-radius);
}

#nav ul button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* Hamburger Menu */
#nav .hamburger{
    display: none;
    background: #fff;
    padding: 2px;
    width: 50px;
    text-align: center;
    border-radius: var(--default-border-radius);
}

#nav .hamburger:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: #387A69;
}

/* *********************************************************************************************************************************** */


/* Header Section */

#header{
    height: 700px;
    background: #73FAD5;
    padding: 0 var(--default-padding) 0;
    border-bottom-left-radius: var(--default-border-radius);
    border-bottom-right-radius: var(--default-border-radius);
}

/* Container */
#header .container{    
    background-image: url(images/jason-leung-Xaanw0s0pMk-unsplash.jpg);    
    background-size: cover;
    /* header padding (3rem) + var(--additional-padding) {7rem} = 10rem {secondary padding} */
    padding: var(--additional-padding);
    height: 100%;       
    
    position: relative;
    z-index: 50;
    border-radius: var(--default-border-radius);
}

/* title grid */
.title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "showText showImage";

    position: absolute;
    color: #ffffff;
    width: 86%;
}

/* grid areas */
.show-text{
    grid-area: showText;
}
.show-image{
    grid-area: showImage;
}

/* crowd word in title */
.orange-crowd{
    color: var(--secondary-color);
}

.title p{
    color: cornsilk;
}

/* title button */
.title button{
    margin: 20px 0;
    background-color: var(--secondary-color);
    color: #71360D;   
    height: 50px;
    width: 150px;
    border-style: none;
    padding: 8px;
    font-size: 1.2rem;
    box-shadow: 2px 0px 5px #71360D;
    border-radius: var(--default-border-radius);
}

.title button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

/* Credit card image in title */
.show-image img{
    transform: rotate(30deg);
    width: 100%;
    z-index: 80;
}

.show-image{
    height: 100%;
    text-align: center;
}

/* ratings below the title */
#ratings{
    /* no padding so it will get header padding which is default padding */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    padding: 20px 0 200px;

    background: #fff;
    position: relative;
    z-index: 100;    
}

.customers{
    display: grid;
    grid-template-columns: 1fr 1fr;

    background: #F6F7F9;
    text-align: center;

    border-radius: var(--default-border-radius);
    box-shadow: 0.01px 0 1px black;
}

.customers div{
    padding-top: 10px;
}

.customers p{
    color: #757575;
}

.orders{
    background: #FBB480;
    color:#71360D;
    text-align: center;
    padding-top: 10px;

    box-shadow: 0.01px 0 1px #71360D;
    border-radius: var(--default-border-radius);
}

/* *********************************************************************************************************************************** */


/* Press Section */

#press{
    margin-top: 500px;
    padding: 0 var(--secondary-padding) 50px;
    background:#ffffff;
    text-align: center;

    position: relative;
    z-index: 130;
}

/* press images size */
#press img{
    height: 70px;
}

/* div containing press images */
.press-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1.5rem 0;
}

/* *********************************************************************************************************************************** */


/* Fetaures section */

#features{
    padding: 100px var(--secondary-padding) 0px;
}

/* Heading of feature section */
#features header{
    text-align: center;
}

/* Feature card wrapper */
#features .wrapper.steps{
    /* grid style */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "step1-text step1-image"
    "step2-image step2-text"
    "step3-text step3-image"
    ;
    gap: 2rem;
    row-gap: 6rem;

    margin: 100px 0rem;
    text-align: center;    
}

/* feature cards */
.wrapper .card{
    box-shadow: 0.5px 0.5px 5px black;
    border-radius: var(--default-border-radius);
    width: 100%;
    height: 100%;
}

.wrapper .card:hover{
    transform: scale(1.05);
}

/* text card */
.wrapper .card.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* image card */
.wrapper .card.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* image in card */
.wrapper.steps img{
    width: 270px;
    margin: 10px 0;
}

.wrapper.steps h2{
    width: 300px;
}
.wrapper.steps p{
    width: 300px;
}

/* grid areas */

.wrapper .step1-image{
    grid-area: step1-image;
}
.wrapper .step2-image{
    grid-area: step2-image;
}
.wrapper .step3-image{
    grid-area: step3-image;
}
.wrapper .step1-text{
    grid-area: step1-text;
}
.wrapper .step3-text{
    grid-area: step3-text;
}
.wrapper .step3-text{
    grid-area: step3-text;
}

/* *********************************************************************************************************************************** */


/* Testimonial Section */

#testimonials{
    background-image: linear-gradient(to right top, #1B3B32, #387A69, #56BA9F, #67E0C0, #73FAD5);
    color: #FFFFFF;
    margin: 0 var(--default-padding);
    padding: 100px var(--additional-padding);
    border-radius: var(--default-border-radius);
}

#testimonials header{
    margin-bottom: 50px;
}

/* only slide with active class will be visible */
.carousel .slide{
    display: none;
}

/* visible slide */
.carousel .active{
    /* glassmorphism style */
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 20px 0 #063940;
    backdrop-filter: blur( 0.1px );
    -webkit-backdrop-filter: blur( 0.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    /* flexbox style */
    display: flex;
    flex-direction: column;

    padding: 50px;
    color: #fff;
    border-radius: var(--default-border-radius);
}

/* human image in slides */
.carousel img{
    width: 100px;
    height: 100px;
    object-fit:cover;
    border-radius: 50%;
    padding-bottom: 8px;
}

/* division with customer image and name */
.slide .human{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slide .human h3{
    padding-left: 20px;
}

.slide .stars{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* fontawesome star icon */
.stars i{
    color: gold;
}

/* *********************************************************************************************************************************** */


/* Call to action section */

#cta{
    padding: 150px var(--secondary-padding);
    text-align: center;
}

/* subscribe form */
#cta form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: #F6F7F9;
    margin: 5rem 0 0;
    padding: 15px 15px;
    border-radius: var(--default-border-radius);  
}

/* e-mail input */
#cta form input{
    padding: 10px;
    background: #F6F7F9;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

/* fontawesome envelope icon */
#cta form i{
    font-size: 1.2rem;
}

/* division containing icon and input */
.icon-and-input{
    display: flex;
    flex-direction: row;
    align-items: center;

    color:#757575;
}

/* Submit button */
#cta form button{
    background: #FBB480;
    color: #71360D;
    width: 100px;
    height: 50px;
    border-style: none;
    border-radius: 0;
    padding: 8px;
    font-size: 1.5rem;

    box-shadow: 2px 3px 5px #90A8AC;
    border-radius: var(--default-border-radius);
}

#cta form button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

/* *********************************************************************************************************************************** */


/* Footer section */

#footer{
    /* grid styles */
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
    align-items: baseline;

    margin: 0 var(--default-padding);
    padding: 100px var(--additional-padding) 50px;
    background: #F6F7F9;

    /* border radius */
    border-top-left-radius: var(--default-border-radius);
    border-top-right-radius: var(--default-border-radius);
}

/* company address , etc */
#footer .details p{
    color: #757575;
}

/* Social media icons */
#footer .social i{
    background: #757575;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin: 10px 20px 0 0;
}

#footer .social i:hover{
    transform: scale(1.3);
    cursor: pointer;
}

/* Other links */
#footer .other-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

#footer .other-links ul{
    list-style: none;
    padding-left: 0;
    color: #757575;
    line-height: 1.8;
    font-size: 1.3rem;
}

#footer ul li:hover{
    transform: translateY(-10%);
    cursor: pointer;
}

/* *********************************************************************************************************************************** */
/* *********************************************************************************************************************************** */


/* Media queries for Reponsiveness */

/* *********************************************************************************************************************************** */


/* For tablets */
@media screen and (max-width:1025px) {

    :root{
        --default-padding: 2rem;
        --additional-padding: 3rem; 
        --secondary-padding: 5rem;
    }

    /* navbar */
    #nav{
        align-items: flex-start;
    }

    #nav div{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;

        padding: 25px 0;
    }
    

    #nav ul{
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;

        margin: 0 0;
        width: auto;
        display: none;
    }

    #nav ul.active{
        display: flex;
    }

    #nav .hamburger{
        display: block;
    }

    /* Header section */

    #header{
        text-align: center;
    }

    #header .title{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "showText"
            "showImage"
        ;
        gap: 20px;
    }

    .show-image img{
        transform: rotate(0deg);
    }

    #header #ratings{
        grid-template-columns: 1fr; 
        padding-bottom: 100px;
    }

    /* Press section */
    #press {
        margin-top: 350px;
        padding: 0 var(--secondary-padding) 0px;
    }    

    #press .press-images{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #features{
        padding: 50px var(--secondary-padding) 0px;
        padding-bottom: 100px;
    }

    #features .wrapper.steps{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "step1-text"
        "step1-image"

        "step2-text"
        "step2-image"

        "step3-text"
        "step3-image"
        ;
        row-gap: 3rem;

        margin: 0 0;
    }

    #features .wrapper.steps .card{
        text-align: center;
    }

    #features .wrapper.steps .card.text{
        padding: 15px 0;
    }

    /* Testimonial section */
    #testimonials {
        text-align: center;
        padding: 50px var(--additional-padding);
    }

    .slide .human {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Call to action section */
    #cta {
        padding: 50px var(--secondary-padding);
    }

    /* Footer section */
    #footer {
        grid-template-columns: 1fr;
        row-gap: 50px;

        padding: 50px var(--additional-padding) 0;
        text-align: center;
    }
  
    #footer .other-links{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

/* *********************************************************************************************************************************** */

/* For Mobile phones */
@media screen and (max-width:800px){

    :root{
        --default-padding: 0.6rem;
        --additional-padding: 1.4rem; 
        --secondary-padding: 2rem;
    }

    h1{
        font-size: 3rem;
    }
    
    h2{
        font-size: 2rem;
    }
    
    h3{
        font-size: 1.5rem;
    }
    
    p{
        font-size: 1rem;
    }

    #cta form{
        flex-direction: column;
        align-items: center;
    
        background: none;
    }

    #cta form .icon-and-input{
        flex-direction: column;
        background-color:#F6F7F9;;
        padding: 8px 0;
        gap: 5px;
        margin-bottom: 10px;
        border-radius: var(--default-border-radius);
    }
    #cta input{
        text-align: center;
    }
}


/* *********************************************************************************************************************************** */
/* *********************************************************************************************************************************** */